@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

:root {
  --default-border-radius: 7.5px;
  --color-background: #ffffff;
  --color-primary: #757575;
  --default-padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif !important;
}

.clickable {
  pointer-events: all;
}

.sidebar {
  position: absolute;
  margin: 25px !important;
  margin-top: -30px !important;
  border-radius: var(--default-border-radius);
}

.map-area {
  margin-left: 262px; /*TODO: This needs to be dynamic or based on the size of the sidebar*/
  pointer-events: none;
}

.burger-menu {
  position: absolute;
  top: 35px;
  left: 45px;
  z-index: 1;
}

.sidebar h1 {
  text-align: center;
  padding-top: 20px;
}

.sidebar .version {
  margin-bottom: 50px;
}

.sidebar-bottom {
  position: inherit;
  bottom: 0;
  width: 100%;
  padding-right: 30px;
  padding-bottom: 20px;
}

.map-container {
  position: absolute !important;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: -100;
}

.mapboxgl-control-container {
  position: absolute;
  right: 0;
  margin-top: -60px;
  margin-left: 15px;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}

.mapboxgl-control-container a:not(.mapboxgl-ctrl-logo) {
  background-color: var(--color-background);
  padding: var(--default-padding);
  margin-right: 5px;
  border-radius: var(--default-border-radius);
  color: #acacac;
  text-decoration: none;
  right: 0;
}

.mapboxgl-control-container a:not(.mapboxgl-ctrl-logo):hover {
  color: #000000;
}

.mapboxgl-ctrl-attrib-inner {
  display: flex;
  float: right;
  right: 0;
}

.category-select img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  padding-right: 10px;
}

.select img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  padding-right: 10px;
}

.searchBtn {
  margin: 25px 0;
}

.search-results {
  padding: 15px 0;
  margin: 10px 0;
  position: absolute;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 250px;
}

.rating img {
  width: 30px;
  height: 30px;
}

.link {
  color: teal;
}

.absolute-menu {
  display: none;
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .absolute-menu {
    visibility: visible;
    position: absolute;
    width: 100%;
    padding: 0 10px 0 65px;
    margin-top: -10px;
    right: 0;
    top: 0;
    display: flex;
    float: right;
  }

  .absolute-menu Button {
    height: 35px;
  }

  .absolute-menu Button:disabled {
    opacity: 1;
    color-scheme: 'blue.400';
  }

  .burger-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  .sidebar {
    position: absolute;
    margin: 0px !important;
    margin-top: -50px !important;
    border-radius: 0;
    max-width: 100% !important;
  }

  .map-area {
    margin-left: 262px; /*TODO: This needs to be dynamic or based on the size of the sidebar*/
    pointer-events: none;
  }

  .sidebar h1 {
    text-align: center;
    padding-top: 20px;
  }

  .sidebar .version {
    margin-bottom: 50px;
  }

  .sidebar-bottom {
    position: inherit;
    bottom: 0;
    width: 100%;
    padding-right: 30px;
    padding-bottom: 20px;
  }
}

.profile {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}

.google {
  width: 300px;
}
