@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --default-border-radius: 7.5px;
  --color-background: #ffffff;
  --color-primary: #757575;
  --default-padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif !important;
}

#overlay {
  position: absolute;
  width: 100%;
}

.clickable {
  pointer-events: all;
}

.sidebar {
  margin: 25px !important;
  height: calc(100vh - 55px);
  border-radius: var(--default-border-radius);
}

.map-area {
  margin-left: 262px; /*TODO: This needs to be dynamic or based on the size of the sidebar*/
  pointer-events: none;
}

.sidebar h1 {
  text-align: center;
  padding-top: 20px;
}

.sidebar-bottom {
  position: inherit;
  bottom: 0;
  width: 100%;
  padding-right: 30px;
  padding-bottom: 20px;
}

.map-container {
  position: absolute !important;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: -100;
}

.mapboxgl-control-container {
  position: absolute;
  right: 0;
  margin-top: -60px;
  margin-left: 15px;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}

.mapboxgl-control-container a:not(.mapboxgl-ctrl-logo) {
  background-color: var(--color-background);
  padding: var(--default-padding);
  margin-right: 5px;
  border-radius: var(--default-border-radius);
  color: #acacac;
  text-decoration: none;
  right: 0;
}

.mapboxgl-control-container a:not(.mapboxgl-ctrl-logo):hover {
  color: #000000;
}

.mapboxgl-ctrl-attrib-inner {
  display: flex;
  float: right;
  right: 0;
}

.category-select {
  margin-top: 50px;
}

.category-select img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  padding-right: 10px;
}

.searchBtn {
  margin: 25px 0;
}

.search-results {
  padding: 15px 0;
  margin: 10px 0;
  position: absolute;
}
