node_modules

.cache
.env
.vercel
.output

/build/
/public/build
/api/*
/api/
.vscode/settings.json
/.vscode
api/metafile.css.json
api/metafile.js.json
.gitignore
api/metafile.css.json
api/metafile.js.json
api/metafile.server.json
